//- ===============================
//- Each Page Settings
//- ===============================

- var lang = 'en'
- var favicon = { showFavicon: false, path: 'img/favicon' }

//- ===============================
//- Index Page
//- ===============================
- var index={}
- index.title = 'Index'
- index.navHref = 'index.html'
//- seo
- index.description = 'Resume'
- index.keywords = 'Resume'
//- open graph
- index.og={}
- index.og.showOG = true
- index.og.prefix = 'og: http://ogp.me/ns#' //- probably must be changed acc to og.type
- index.og.type = 'website'
- index.og.title = 'Resume'
- index.og.description = 'Resume'
- index.og.url
- index.og.image
- index.og.locale = 'en'
