main.main

	section.media
		h2.media_title

	section.general
		h2.general_title General info
		dl.general_list
			dt.general_term Date of Birth
			dd.general_data 22 November 1989
		dl.general_list
			dt.general_term Location
			dd.general_data Ukraine, Kiev

	section.education
		h2.education_title Education
		dl.education_list
			dt.education_term 2007-2013
			dd.education_data Ukrainian University of Linguistics and Managment
		dl.education_list
			dt.education_term 2001-2007
			dd.education_data The Art School №3

	section.experience
		h2.experience_title Experience
		dl.experience_list
			dt.experience_term(data-dates='15.10 - 15.06') 2012-2013
			dd.experience_data Autobudmontazh LLC - Web Designer
		dl.experience_list
			dt.experience_term 2013-2014
			dd.experience_data Freelance - Web/UI/Graphic Designer
		dl.experience_list
			dt.experience_term(data-dates='05.09-13.02') 2014-2015
			dd.experience_data CBSystematics - Web/UI/Graphic Designer

	section.skills
		h2.skills_title Skills
		.skills_list
			mixin skill_item('AdobePhotoshop', '50%')
			mixin skill_item('HTML5 & CSS3', '70%')
			mixin skill_item('English', '80%')
			mixin skill_item('AdobeIllustrator', '55%')
			mixin skill_item('JavaScript', '73%')
			mixin skill_item('Team Work', '69%')
			mixin skill_item('Hand/Tablet Drawing', '35%')
			mixin skill_item('Bootstrap', '100%')
			mixin skill_item('Creativity', '17%')
			mixin skill_item('UI Design', '25%')
			mixin skill_item('Twig Engine', '39%')
			mixin skill_item('Graphic Design', '61%')
