section.sidebar

	header.header
		figure.photo
			img.photo_img(src="img/photo.png", alt="photo")
		h1.name Ira Vosorowa
		figure.dots
		p.about Hi, I am a passionate, highly enthusiastic web/graphic/ui designer. Have strong desire for knowledge and challenges. Actively involved with the latest technology and updates in the web development field. A fast learner who picks up new skills quickly. Self-educated, self-motivated and versatile person. Thinking outside the box.

	section.interests
		h2.interests_title Interests and Hobbies
		ul.interests_list
			li.interests_item
				figure.interests_item_img: img(src="img/1.png", alt="img")
				span.interests_item_text Art, Drawing, Design
			li.interests_item
				figure.interests_item_img: img(src="img/2.png", alt="img")
				span.interests_item_text Tourism
			li.interests_item
				figure.interests_item_img: img(src="img/3.png", alt="img")
				span.interests_item_text Ping-pong
			li.interests_item
				figure.interests_item_img: img(src="img/4.png", alt="img")
				span.interests_item_text Chess
			li.interests_item
				figure.interests_item_img: img(src="img/5.png", alt="img")
				span.interests_item_text Muscle cars
			li.interests_item
				figure.interests_item_img: img(src="img/6.png", alt="img")
				span.interests_item_text Motorcycle
			li.interests_item
				figure.interests_item_img: img(src="img/7.png", alt="img")
				span.interests_item_text Drums
			li.interests_item
				figure.interests_item_img: img(src="img/8.png", alt="img")
				span.interests_item_text Guitar

	footer.footer
		address.contacts Contact me <br> skype: irusik.vos <br> email: i.vosorowa@gmail.com <br> tel.: 38(093)000-00-00
