@font-face {
    font-family: 'Delhi';
    src: url('../font/Delhi/Delhi.eot');
    src: url('../font/Delhi/Delhi.eot') format('embedded-opentype'),
         url('../font/Delhi/Delhi.woff2') format('woff2'),
         url('../font/Delhi/Delhi.woff') format('woff'),
         url('../font/Delhi/Delhi.ttf') format('truetype'),
         url('../font/Delhi/Delhi.svg#Delhi') format('svg');
}

@font-face {
    font-family: 'SEGOEUIL';
    src: url('../font/SEGOEUIL/SEGOEUIL.eot');
    src: url('../font/SEGOEUIL/SEGOEUIL.eot') format('embedded-opentype'),
         url('../font/SEGOEUIL/SEGOEUIL.woff2') format('woff2'),
         url('../font/SEGOEUIL/SEGOEUIL.woff') format('woff'),
         url('../font/SEGOEUIL/SEGOEUIL.ttf') format('truetype'),
         url('../font/SEGOEUIL/SEGOEUIL.svg#SEGOEUIL') format('svg');
}
