// Box-sizing reset
@if $box-sizing == true {
	*, *:after, *:before {
		box-sizing: inherit;
	}
	html {
		box-sizing: border-box;
	}
}

html {
    font-size: $html-fs;
	background-color: $html-bg;

	// changes fs to vw items
	@each $bp, $vw in $vw-scale{
		@media (min-width: em($bp)) {
			font-size: $vw;
		}
	}
}

body {
    font-size: $body-fs;
    font-family: $body-ff;
    color: $body-font-color;
    line-height: $body-lh;

	// Font Smooth
	@if $fontSmooth == true {
		& {
			font-smoothing: antialiased;
			-webkit-font-smoothing: antialiased;
		}
	}

}

// Browserhappy
.browsehappy {
    position: relative;
	z-index: 1000;
	margin: 0;
	padding: 1em;
    background: #fff;
    color: #000;
	font-style: normal;
}
